<% include partials/header %>
<div class="container d-flex justify-content-center">
<br><br>


   <form action = "/itemEdit/:id?_method=PUT" method="POST">
   <div class="form-group">
        <p style="color:steelblue">Edit the task as required:</p>
       <input type="hidden" name="itemCreated" value="<%= itemCreated %>">
       <input type="text" name="item" value="<%= item %>" class="form-control">
       <br>
       <hr>
       <p class="mb-0" style="color:steelblue">Current due date is <%= moment(dueDate).format("DD/MM/YYYY") %>.</p>
       <p style="color:steelblue">Enter new date if required:</p>
       <input type="date" name="dueDate" value="<%= dueDate %>" class="form-control mb-2">
       <input type="submit" class="btn btn-outline-success" class="form-control">
    </div>
    </form>


</div>


<% include partials/footer %>