<% include partials/header %>


<div class="container">
<br><br>

<h4 style="color:SteelBlue">Welcome to the pre-registration page!</h4>
<h5 style="color:grey">Before you can register you must first </h5>
<h5 style="color:grey">enter the site access code.</h5>
<br>
<form action="/preRegister" method="POST">
    <div class="form-group">
        <label for="preRegPW">Access Code</label>
        <input type="password" class="form-control col-4" id="preRegPW" name="preRegPW" placeholder="Enter Access Code">
    </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Register!">
    </div> 
</form>
<br>
<h5 style="color:grey">You will then be redirected to the registration form.</h5>  
</div>

<% include partials/footer %>
